:root {
  height: 100%;
  width: 100%;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bhdLno {
  max-height: 79vh !important;
  max-width: 79vh !important;

}

.sc-bdfBwQ {
  display: none !important;
}